.profileImg {
  border-radius: 50%;
  -webkit-box-shadow: -2px 3px 15px rgba(255, 255, 255, 0.6);
          box-shadow: -2px 3px 15px rgba(255, 255, 255, 0.6);
  margin-bottom: var(--size-20);
  width: var(--size-100);
  height: var(--size-100);
}

.title,
.description {
  text-align: center;
}

.title {
  margin: 0;
  font-size: var(--size-32);
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: var(--ar-txt-grey-subtext);
  font-size: var(--size-14);
  font-weight: 600;
  line-height: var(--size-20);
  margin-bottom: var(--size-50);
}

.typewriterText {
  overflow: hidden;
  position: relative;
  width: 18em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;

  -webkit-animation: typewriter 2s steps(28) 1s 1 normal both,
  blinkTextCursor 400ms steps(28) 800ms normal;

          animation: typewriter 2s steps(28) 1s 1 normal both,
  blinkTextCursor 400ms steps(28) 800ms normal; 
}
@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 9em;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 9em;
  }
}
@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media (min-width: 350px) {
  .title {
    font-size: var(--size-40);
  }
}
@media (min-width: 768px) {
  .title {
    font-size: var(--size-50);
  }
}