.container {
  min-height: 100vh;
  padding: var(--size-30) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
    margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardFlex {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--size-30);
}

@media (min-width: 0px) and (max-width: 1023px) {
    .cardFlex {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 0px) AND (max-width: 719px){
    .cardFlex {
        width: 100%;
    }
}

@media (min-width: 720px) AND (max-width: 1023px){
    .cardFlex {
        width: 626px;
    }
}

@media (min-width: 1024px) {
  .cardFlex {
    -ms-grid-columns: 4fr 2fr;
    grid-template-columns: 4fr 2fr;
    width: 964px
  }
}