.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: var(--size-30);
  background-color: var(--ar-bg-light-gray);
  align-items: start;
}

.card h2 {
  font-size: var(--size-18);
  line-height: var(--size-18);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  align-self: flex-start;
}

.card p {
  align-self: flex-start;
  margin-top: 3px
}

.card form {
  width: 100%;
  position: relative;
}
.card label {
  display: none;  /*Change to block if need to be shown*/
  color: var(--ar-bg-grey);
  font-size: var(--size-14);
  font-weight: bold;
  margin: var(--size-20) 0 var(--size-14) 0
}

.card > form > div {
  margin-top: var(--size-24);
}

.card label:first-of-type {
  margin-top: 0;
}

.card input {
  width: 100%;
  height: var(--size-40);
  padding: var(--size-5) var(--size-32) var(--size-5) var(--size-14);
  color: var(--white);
  outline: none;
  font-size: 14px;
  background: var(--ar-bg-soft-grey);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px 3px 0 0;
  border-image-source: var(--gradient);
  border-image-slice: 1;
}

.card input::placeholder,
.card input::-ms-input-placeholder,
.cardinput:-ms-input-placeholder {
  color: var(--ar-txt-grey);
}
.card input::placeholder {
  opacity: 1
}

.card button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent;
  background: var(--ar-bg-soft-grey);
  color: var(--ar-txt-white);
  font-weight: bold;
  border-radius: var(--size-5);
  height: var(--size-40);
  padding: var(--size-11) var(--size-30);
  margin: var(--size-30) 0 0 0;
  outline: 0;
  cursor: pointer;
}

.card button.active {
  background: var(--gradient);
}

.checkMark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--size-11);
  font-weight: bold;
  position: relative;
}

.checkedTrue {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: var(--size-10);
  background-color: var(--ar-bg-green);
  color: var(--ar-txt-white);
  display: none;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  position: absolute;

}

.checkedTrueActive {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: var(--size-10);
  background-color: var(--ar-bg-green);
  color: var(--ar-txt-white);
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  visibility: visible;
  opacity: 1;
}

/* .nameIsTyped,
.emailIsTyped {
  font-size: var(--size-11);
  text-align: center;
  position: absolute;
  right: 7px;
  width: var(--size-20);
  height: var(--size-20);
  border-radius: 50%;
  background-color: var(--success);
}
.nameIsTyped {
  top: 22px;
}
.emailIsTyped {
  top: 105px;
} */

@media (min-width: 0px) AND (max-width: 719px) {
  .card label {
    display: none;
  }

  .card h2, .card p {
    margin-left: auto;
    margin-right: auto;
  }

  .card p {
    align-self: flex-start;
    margin-top: 3px
  }

  .card > form > div {
    margin-top: var(--size-30);
  }
  .card > form > div:first-of-type {
    margin-top: var(--size-20);
  }
  .card button,
  .card button.active {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 720px) {
  .card {
    border-radius: 5px;
    text-align: left;
  }
  .card button {
    margin-top: var(--size-30)
  }
}