.card {
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  border: transparent;
  color: #e9e9e9;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
}

.card * {
  text-align: center;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.card p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 20px 5px;
  max-width: fit-content;
}

.bookDescription {
  justify-content: stretch;
  align-self: flex-start;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}
.btn {
  outline: 0;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
}
.kickstart {
  background: rgb(207,54,59);
  background: linear-gradient(90deg, rgba(207,54,59,1) 0%, rgba(107,71,138,1) 100%);
  border: transparent;
  border-radius: 5px;
  height: 40px;
  color: #fff;
  font-size: 0.82rem;
  font-weight: bold;
  padding: 0 30px;
}

.instaBtn {
  align-self: center;
	position: relative;
  width: 134px;
	padding: 2px;
  border-radius: 40px;
  border: transparent;
  background-image: linear-gradient(90deg, rgba(207,54,59,1) 0%, rgba(107,71,138,1) 100%);
	/* z-index: 2; */
}

.instaBtn a {
	display: flex;
	justify-content: center;
	align-items: center;
  gap: 10px;
  padding: 5px 20px;
	background: rgb(30, 30, 30);
	border-radius: 40px;
}
.instaIcon * {
  color: white;
}
.instaBtn a div:last-child {
  top: 3px;
}

.instaBtn:hover,
.instaBtn *:hover {
  background-color: rgb(69, 69, 69);
  fill: #fff;
}

@media (min-width: 768px) {
  .card {
    flex-wrap: nowrap;
    border-radius: 10px;
  }
  .btns {
    flex-direction: row;
  }
}