.card {
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
  border: transparent;
  color: var(--off-white);
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-16);
}

.card * {
  text-align: center;
}

.card h2 {
  margin: 0;
  margin-bottom: var(--size-5);
  font-size: var(--size-32);
  color: var(--off-white);
}

.card p {
  font-weight: 300;
  line-height: 1.5;
  margin: var(--size-11) var(--size-5);
  max-width: fit-content;
}

.bookImg {
  margin: var(--size-16);
}

.bookDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  margin: var(--size-16);
}

.btns {
  display: flex;
  flex-direction: column;
  padding: 0 var(--size-30) var(--size-5);
}
.btn {
  margin: 0.5rem;
  outline: 0;
  cursor: pointer;
}

.kickstart {
  background: var(--gradient);
  border: transparent;
  border-radius: 5px;
  height: var(--size-40);
  color: var(--white);
  font-weight: bold;
  padding: 0 var(--size-30);
  max-width: 228px;
}

.instaBtn {
  align-self: center;
	position: relative;
  width: 10rem;
	padding: 0.215rem;
  border-radius: var(--size-40);
  border: transparent;
  background-image: var(--gradient);
}
.instaBtn a {
	display: flex;
	justify-content: space-around;
	align-items: center;
  padding: var(--size-5) var(--size-20);
	background: var(--dark-grey);
	border-radius: var(--size-40);
}
.instaBtn a div:last-child {
  top: 3px;
}
.instaBtn:hover a {
  background: var(--medDark-grey);
}

@media (max-width: 350px) {
  .card h2 {
    font-size: var(--size-28);
  }
  .btn {
    margin: 0.5rem 0;
  }
}

@media (max-width: 425px) {
  .kickstart {
    align-self: center;
    padding: 0 var(--size-20);
  }
}

@media (min-width: 768px) {
  .card {
    border-radius: 10px;
    flex-wrap: nowrap;
  }
  .card * {
    text-align: left;
  }
  .btns {
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
  }
  .kickstart {
    margin-left: 0;
  }
}