.container {
  min-height: 100vh;
  display: flex;
  max-width: 1140px;
  padding: var(--size-30) 0;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.cardFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 0px) AND (max-width: 719px){
  .cardFlex {
      width: 100%;
  }
}

@media (min-width: 768px) {
  .cardFlex {
    margin: 0 var(--size-20);
  }
}

@media (min-width: 0px) and (max-width: 1023px) {
  .cardFlex {
    margin: 0 var(--size-20);
  }
}

@media (min-width: 720px) AND (max-width: 1023px){
  .cardFlex {
      width: 626px;
    }
  }
  
  @media (min-width: 1024px) {
  .cardFlex {
    flex-direction: row;
    width: 964px
  }
}
