.card {
  display: flex;
  text-align: center;
  padding: var(--size-32);
  background-color: var(--dark-grey);
}

.card * {
  margin: var(--size-11) 0;
}
.card form {
  width: 100%;
  position: relative;
}
.card label {
  color: var(--light-grey);
  font-size: var(--size-14);
}
.card input {
  background: transparent;
  outline: none;
  border: none;
  height: var(--size-40);
  color: var(--white);
  font-weight: bold;
  width: 100%;
}
.disabledBtn {
  display: flex;
  align-items: flex-end;
  border: transparent;
  background: var(--medDark-grey);
  color: var(--white);
  font-weight: bold;
  border-radius: var(--size-5);
  height: var(--size-40);
  padding: var(--size-11) var(--size-30);
  margin: var(--size-30) auto 0;
  outline: 0;
}
.enabledBtn {
  cursor: pointer;
  background: var(--gradient);
}
.enabledBtn:active {
  position: relative;
  top: 2px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--size-40);
  padding: var(--size-5) var(--size-32) var(--size-5) var(--size-14);
  outline: 0;
  padding-bottom: 5px;
  border-radius: 5px 5px 0 0;
  background: var(--gradient) left  bottom var(--medDark-grey) no-repeat; 
  background-size: 100% 3px ;
}

.checkMark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--size-11);
  font-weight: bold;
}

.nameIsTyped, 
.emailIsTyped {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-11);
  text-align: center;
  width: var(--size-20);
  height: var(--size-20);
  border-radius: 50%;
  background-color: var(--light-grey);
}

.isTyped {
  background-color: var(--success);
}

@media (min-width: 768px) {
  .card {
    border-radius: 10px;
    text-align: left;
  }
  .card button {
    margin: var(--size-30) 0 0;
  }
}