.card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  padding: var(--size-32);
}

.subscribeMessage div:hover {
  cursor: pointer;
}
.subscribeMessage h2 {
  font-size: var(--size-20);
  color: var(--off-white);
  margin-top: 0;
}
.subscribeMessage h2,
.subscribeMessage p {
  color: var(--off-white);
}
.subscribeMessage .congrats {
  margin-bottom: 0;
  color: var(--light-grey);
}


@media (min-width: 0px) AND (max-width: 719px) {
  .card h2, .card p {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 720px) {
  .card {
    border-radius: 10px;
  }
}