.card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: var(--size-32);
  background-color: var(--dark-grey);
}

.card .subscribeMessage {
  margin-bottom: 0;
}
.subscribeMessage h2 {
  font-size: var(--size-20);
  color: var(--off-white);
  margin: 0;
}
.subscribeMessage p {
  color: var(--off-white);
  margin: var(--size-5) 0;
}

.card * {
  margin: var(--size-20) 0;
}
.card form {
  width: 100%;
  position: relative;
  margin-top: 0;
}
.card label {
  color: var(--light-grey);
  font-size: var(--size-14);
}
.card input {
  background: transparent;
  outline: none;
  border: none;
  height: var(--size-40);
  color: var(--white);
  font-weight: bold;
  width: 100%;
}
.disabledBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: transparent;
  background: var(--medDark-grey);
  color: var(--white);
  font-weight: bold;
  border-radius: var(--size-5);
  height: var(--size-40);
  padding: var(--size-11) var(--size-30);
  margin: var(--size-30) auto 0;
  outline: 0;
}
.enabledBtn {
  cursor: pointer;
  background: var(--gradient);
}
.enabledBtn:active {
  position: relative;
  top: 2px;
}

.inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: var(--size-40);
  padding: var(--size-5) var(--size-14);
  outline: 0;
  border-radius: 5px 5px 0 0;
  background: var(--gradient) left  bottom var(--medDark-grey) no-repeat; 
  background-size: 100% 3px ;
}

.nameIsTyped, 
.emailIsTyped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--size-11);
  width: var(--size-20);
  height: var(--size-20);
  border-radius: 50%;
  background-color: var(--light-grey);
}

.isTyped {
  background-color: var(--success);
}

@media (min-width: 768px) {
  .card {
    border-radius: 10px;
    text-align: left;
    padding: var(--size-14) var(--size-32);
  }
  .card button {
    margin: var(--size-30) 0 0;
  }
}
@media (min-width: 1024px) {
  .card {
    margin-left: var(--size-5);
  }
}